#email_help,#employeenamehelp,#bank_acc_name_help,#axis_bank_acc_no_help,#pf_acc_name_help,#uan_no_help,#esi_record_name_help,#esi_insurance_no_help {
	color: red;
}
legend
{
    color: blue;
    
}
.ui.search.fluid.dropdown.user_name{
    position: absolute;
    top: 20px;
}
.form-group.email{
    padding-top: 20px;
}

div#container {
    position: absolute;
	background-color: aliceblue;
    left: 200px;
    top: 150px;
    width: 1000px;
    height: 700px;
}
h2{
    color:blue;
    position: relative;
    top: 20px;
}

#radiobtn1,#radiobtn2 {
	cursor: pointer;
}

td.day,th.dow,th.datepicker-switch,span.month,th.prev,th.next  {
    cursor: pointer;
}
span#result {
	position: absolute;
    left: 200px;
    color: black;
    display: block !important;
    top: 3px;
}
.success{
    color: green !important;
}
.error{
    color: red !important;
}
.borderless td,.borderless th {
	border: none;
}